.main-nav {
  border-top: 1px solid $color-of-seashell;

  @include vp-1023 {
    display: none;
    border: none;
  }
}

.main-nav__container {
  max-width: $vp-1230;
  margin: 0 auto;
  padding-top: 15px;

  @include vp-1023 {
    padding: 4px 45px 18px;
  }

  @include vp-767 {
    padding: 0 15px 18px;
  }
}

.main-nav__container--catalog {
  padding-top: 20px;
}

.page-header.is-open .main-nav {
  @include vp-1023 {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    display: none;
    margin-bottom: 40px;
    padding: 0;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.page-header.is-open .main-nav__list {
  @include vp-1023 {
    display: block;
  }
}

.main-nav__item {
  margin: 0 17px;
  margin-bottom: 17px;

  @include vp-1023 {
    margin: 0;
    margin-bottom: 21px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__item--first {
  margin-left: 9px;
}

.main-nav__item--second {
  margin-right: 20px;
}

.main-nav__item--third {
  margin-left: 16px;
  margin-right: 14px;
}

.main-nav__item--fourth {
  margin-left: 22px;
}

.main-nav__item--fifth {
  margin-right: 0;
  margin-left: 19px;
}

.main-nav__item--catalog {
  margin-left: 8px;
}

.main-nav__link {
  line-height: 24px;

  @include vp-1023 {
    font-size: 24px;
    line-height: 36px;
    color: $color-default-white;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.main-nav__info {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__info-item {
  @include vp-1023 {
    margin-bottom: 19px;
  }
}

.page-header.is-open .main-nav__info {
  @include vp-1023 {
    display: block;
  }
}

.main-nav__info-link {
  font-size: 18px;
  line-height: 23px;
  color: $color-default-white;

  opacity: 0.75;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.2;
    }
  }

  &:active {
    opacity: 0.2;
  }
}
